body{
    margin: 0;
    padding: 0;
    color:#fff
}
.wrapper{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start; 
}
.image{
    background-size: cover;
}
img{
    width: 270px; 
    height: 100px;
    margin: 3px;
    padding-top: 8px;
}
h4{
    text-align: center;
}
.container1,
.container2,
.container5,
.container6,
.container7,
.container8 {
    border: 1px solid #c7c6c9 !important;
    border-radius: 7%;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 5px 0 10px rgba(253, 252, 252, 0.5),
              -5px 0 10px rgba(253, 252, 252, 0.5);
    width:300px;
    height: auto;
    border-radius: 10px;
}
table{
    display: flex;
    justify-content: center;
    background-size: cover;
    max-width: 100%;
    padding: 3px;
}
td{
    border: 0.1px solid #14022b;
    margin: 3px;
    padding: 5px;
    width: auto;
}
